<div class="left-side-bar">
	<div class="brand-logo">
		<a href="/">
			Node CRUD
		</a>
	</div>
	<div class="menu-block customscroll">
		<div class="sidebar-menu">
			<ul id="accordion-menu">
				<li>
					<a href="/admin" class="dropdown-toggle no-arrow">
						<span class="fa fa-home"></span><span class="mtext">Home</span>
					</a>
				</li>
				<li>
					<a href="/admin/users" class="dropdown-toggle no-arrow">
						<span class="fa fa-users"></span><span class="mtext">Users</span>
					</a>
				</li>
				<li>
					<a href="/admin/categories" class="dropdown-toggle no-arrow">
						<span class="fa fa-list"></span><span class="mtext">Blog Categories</span>
					</a>
				</li>
				<li>
					<a href="/admin/blogs" class="dropdown-toggle no-arrow">
						<span class="fa fa-pencil"></span><span class="mtext">Blog</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>