	<div class="left-side-bar">
		<div class="brand-logo">
			<a href="/">
				Node CRUD
			</a>
		</div>
		<div class="menu-block customscroll">
			<div class="sidebar-menu">
				<ul id="accordion-menu">
					<li><a href="/">Home</a></li><hr>
					<li><a href="/blog-categories">Blog Categories</a></li><hr>
					<li><a href="/blogs">Blog</a></li><hr>
					<li><a href="/faq">FAQ</a></li><hr>
					<li><a href="/settings">Settings</a></li><hr>
				</ul>
			</div>
		</div>
	</div>