<div class="left-side-bar">
	<div class="brand-logo">
		<a href="/">
			Node CRUD
		</a>
	</div>
	<div class="menu-block customscroll">
		<div class="sidebar-menu">
			<ul id="accordion-menu">
				<li><a href="/admin/">Home</a></li><hr>
				<li><a href="/admin/categories">Blog Categories</a></li><hr>
				<li><a href="/admin/blogs">Blog</a></li><hr>
			</ul>
		</div>
	</div>
</div>