	<div class="left-side-bar">
		<div class="brand-logo">
			<a href="/">
				Node CRUD
			</a>
		</div>
		<div class="menu-block customscroll">
			<div class="sidebar-menu">
				<ul id="accordion-menu">
					<li class="kajal"><span class="fa fa-home"></span><a href="/">Home</a></li><hr>
					<li class="kajal"><span class="fa fa-list"></span><a href="/blog-categories">Blog Categories</a></li><hr>
					<li class="kajal"><span class="fa fa-pencil"></span><a href="/blogs">Blog</a></li><hr>
					<li class="kajal"><span class="fa fa-question"></span><a href="/faq">FAQ</a></li><hr>
					<li class="kajal"><span class="fa fa-gear"></span><a href="/settings">Settings</a></li><hr>
				</ul>
			</div>
		</div>
	</div>